/* DEBUG */
.h_100{
  height: 500px;
  background-color: coral;
  border: 1px solid black;
}

/* /DEBUG */


.navbar_{
  background-color: #2C3E50;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 30px 0;
}

#logo_{
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

#menu_{
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
}





.jumbotron_,
.about_{
  background-color: #1ABC9C;
  color: #FFFFFF;
}

.jumbotron_ img{
  padding-top: 50px;
}

.jumbotron_ h1{
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}

.jumbotron_ .star_{
  font-size: 30px;
}

.jumbotron_ .star_::before,
.jumbotron_ .star_::after{
  content: '';
  display: inline-block;
  width: 16%;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 3px;
  vertical-align: middle;
}

.jumbotron_ h3{
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 60px;
}



/* FOOTER */
.top_{
  background-color: #3A546D;
  height: 400px;
}

.bottom_{
  background-color: #2C3E50;
  height: 200px;
}
/* /FOOTER */
