/* DEBUG */
.h_100{
  height: 500px;
  background-color: coral;
  border: 1px solid black;

}

/* /DEBUG */


.navbar_{
  background-color: #2C3E50;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 30px 0;
}

#logo_{
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
}

#menu_ a{
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 20px;
}





.jumbotron_,
.about_,
.about_ .download_btn{
  background-color: #1ABC9C;
  color: #FFFFFF;
}

.jumbotron_ img{
  padding-top: 170px;
}

.jumbotron_ h1{
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}

.star_white,
.star_black{
  font-size: 30px;
}

.jumbotron_ .star_white::before,
.jumbotron_ .star_white::after,
.about_ .star_white::before,
.about_ .star_white::after{
  content: '';
  display: inline-block;
  width: 16%;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 3px;
  vertical-align: middle;
}

.jumbotron_ h3{
  text-transform: uppercase;
  font-size: 25px;
  padding-bottom: 60px;
}


/* PORTFOLIO */
#portfolio_{
  padding-bottom: 60px;
}


#portfolio_ .star_black::before,
#portfolio_ .star_black::after,
.contact_ .star_black::before,
.contact_ .star_black::after{
  content: '';
  display: inline-block;
  width: 16%;
  height: 5px;
  background-color: black;
  border-radius: 3px;
  vertical-align: middle;
}


#portfolio_ img{
  width: 100%;
  border-radius: 15px;
  margin: 20px auto;
}

#portfolio_ h2,
.about_ h2,
.contact_ h2{
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 80px;
}





/* /PORTFOLIO */


/* ABOUT */
.about_ p{
  margin-top: 20px;
  font-size: 22px;
}

.about_ .download_btn{
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 60px;
  border: 1px solid #FFFFFF;
}


/* /ABOUT */


/* CONTACT */
.contact_ input{
  border: 0 transparent;
  box-shadow: none;
  border-radius: 0;
  font-size: 20px;
  margin-top: 15px;
}

.contact_ input::placeholder{
  color: black;
  opacity: 1; /* for Firefox */
}

/* for Edge */
.contact_ input::-ms-input-placeholder{
  color: black;
}

/* .after_::after{
  content: '';
  display: block;
  width: 80%;
  height: 10px;
  background-color: red;
} */

/* /CONTACT */



/* FOOTER */
.top_{
  background-color: #3A546D;
  padding: 30px 0;
}

.top_ h6{
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 50px;
}

.top_ address,
.top_ p{
  color: white;
  font-size: 20px;
}

/* .top_ .social_icons{
  color: white;
  border: 1px solid white;
  padding: 20px;
  border-radius: 50%;
  font-size: 20px;
  margin: 0 5px;

  /* ask Cristina
  height: 40px;
  width: 40px;
  display: inline-block;
} */
.top_ ul{
  margin: 0;
  padding: 0;
}
.top_ li{
  display: inline-block;
  border: 1px solid white;
  padding: 20px;
  color: white;
}

.top_ i{
  
}

.top_ mark{
  color: #1ABC9C;
  background-color: transparent;
  text-transform: capitalize;
}

.bottom_{
  background-color: #2C3E50;
}

.bottom_ small{
  color: white;
  font-size: 16px;
  text-transform: capitalize;
  padding: 30px 0;
  display: inline-block;
}

/* /FOOTER */
